body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    padding: 5px;
}
ul li{
    display: inline;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
img{
    width: 100%;
}
.img{
    text-align: center;
    margin-left: 100px;
}